
* {
  margin: 0;
  padding: 0;
}
header{
  position: relative;
  height: 730px;
  background: url(../image/combo_BG.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 57% 100%;
  padding: 0 0px 64px 180px;


}
.burger-menu_button {
  position: absolute;
  top: 35px;
  right: 15px;
  z-index: 30;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(236, 228, 228, 0.5);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -12px;
}
.burger-menu_lines::after {
  content: '';
  top: 12px;
}


.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  position: absolute;
  z-index: 20;
  display: none;
  flex-flow: column;
  height: 100%;
  background-color:#F2F2F2;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 1.5s;
}
.burger-menu_active .burger-menu_nav {
  right: 0px;
  transition: 1.5s;
  display: flex;
}
.burger-menu_link {
  padding: 13px 76px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #415167;
  text-decoration: none;
  &:nth-child(1){
    padding-top: 191px;
  }
  &:hover{
    color: #C7A17A;
  }

}
.logo{
    top: 54px;
    left: 188px;
    position: absolute;
}
.page-content{
  padding: 480px 6px 0 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
  color: #415167;
  span{
    background: #C7A17A;
    color: #fff;
  }
}





