.slider-first{
    &_wrapper{
        background-image: url(../image/BG.png);
        background-repeat: no-repeat;
        background-size: 35% 100%;
        height: 805px;
        padding-top: 90px ;
        position: relative;
    }
    &__responsive{
        margin: 70px 0 130px 130px;
        max-width: 1140px; 
       
        &_items{
            &-item{
                min-width: 0;
                max-width: 560px!important;
                background: #fff ;
                margin: 0 20px 15px 0;
              
                .item_container{
                    min-width: 0;
                    display: flex;
                    justify-content: space-between;
                    .item__img{
                        background: #EDF0F5;
                        flex: 1 1 50%;
                        display: flex;
                        align-items: center;
                        min-width: 0;
                        img{
                            width: 100%;
                        }
                        
                    }
                    .item__content{
                        min-width: 0;
                        padding: 45px 53px 0 45px;
                        flex: 1 1 50%;
                        display: flex;
                        flex-direction: column;
                        font-family: Nunito;
                        font-style: normal;
                        &_price{
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 24px;
                            color: #C7A17A;
                        }
                        &_title{
                            margin-top: 8px;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 28px;
                            color: #232C38;
                        }
                        &_descr{
                            margin-top: 24px;
                            font-weight: 300;
                            font-size: 16px;
                            color: #151D28;
                        }
                        &_buttom{
                            margin-top: 32px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            &-btn{
                                padding: 6px;
                                background: #C7A17A;
                                border-radius: 19px;
                                font-weight: bold;
                                font-size: 16px;
                                text-align: center;
                                color: #F9FBFF;
                                width: 121px;
                                height:21;
                            }
                            &-text{
                                font-weight: bold;
                                font-size: 16px;
                                color: #415167;
                                text-align: center;
                            }
                        }

                    }
                }

            }
        }
    }
}
.slick-next, .slick-arrow{
    position: absolute;
    right: -40px;
    background-image: url(../image/icon/Right_Arrow.svg);
    background-position: center;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    top: 48%;
    transform: translateY(-50%);
}

.slick-prev{
    display: none;
}