.navigation{
    display: flex;
    justify-content: space-between;
    &__center{
        margin-top: 50px;
        &_links{
            display: flex;
            &-link{
                list-style-type: none;
                margin: 0 60px;
                a{
                    text-decoration: none;
                    font-family: Gelasio;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    color: #081F32;
                    opacity: 0.7;
                    &:hover{
                        color: #1B75BB;
                    }
                }
            }
        }
    }
    &__right{
        margin-top: 35px;
        &_button{
            width: 134px;
            height: 54px;
            background: #1B75BB;
            border-radius: 5px;
            border: none;
            font-family: Gelasio;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            /* identical to box height, or 24px */
            color: #FFFFFF;
            /* Inside Auto Layout */
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 10px;
            transition: 1s;
            &:hover{
                color: #1B75BB;
                background: #FFFFFF;
                font-size: 18px;

        }
    }
}
.hamburger{
    display: none;
}
}