.nav{
    height: 100px;
    background: #030B1F;
    border-bottom: 4px solid  #D3A475;
    &__wrapper{
        padding: 11px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left{
        display: flex;
        align-items: center;
        &_img{
            height: 78px;
            width: 78px;
            margin-right: 35px;
            background: radial-gradient(48.2% 48.2% at 50% 50%, #030B1F 0%, #030B1F 40%, rgba(242, 242, 242, 0.6) 62.32%, rgba(223, 223, 224, 0.25) 83.49%, rgba(174, 174, 174, 0) 100%);
            img{
                display: block;
                width: 100%;
            }
        }
        &_title{
            font-weight: normal;
            font-size: 22px;
            line-height: 120%;
            color: #FFFFFF;
            span{
                font-family: Cormorant SC;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 120%;
                color: #FFFFFF;
            }
        }
    }
    &__right{
        &_links{
            display: flex;
            &-link{
                margin-left: 34px;
                transition: 1s;
                a{
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 120%;
                    color: #FFFFFF;
                }
                &:hover{
                    a{
                    color: #D3A475;
                    }
                }
            }
        }
    }
    .hamburder{
        display: none;
    }
}