.recall{
    background-image: url(../image/recall_bg.png);
    background-repeat: no-repeat;
    padding: 75px 0;
    height: 942px;
   
    &__title{
        font-weight: bold;
        font-size: 60px;
        line-height: 120%;
        color: #D3A475;
        text-align: center;
    }
    &__items{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 710px;
        &_item{
            margin-top: 10px;
            background: #FFFFFF;
            border: 1px solid #D3A475;
            box-sizing: border-box;
            border-radius: 30px;
            width: 630px;
            padding: 16px 20px;
            &:nth-child(1){
                height: 385px;
            }
            &:nth-child(3){
                height: 325px;
            }
            &:nth-child(2){
                height: 225px;
            }
            &:nth-child(4){
                height: 365px;
            }
            &_title{
                font-weight: bold;
                font-size: 24px;
                line-height: 120%;
                color: #030B1F;
            }
            &_descr{
                margin-top: 10px;
                font-weight: normal;
                font-size: 17px;
                line-height: 120%;
                color: #212121;
            }
            &_bottom{
                margin-top: 13px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-name{
                    display: flex;
                    p{
                        margin-right: 20px;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 120%;
                        color: #212121;
                    }
                }
                &-rating{
                    span{
                        padding: 0;
                        margin-left: 3px;
                        font-size: 25px;
                        line-height: 1;
                        color: #D3A475;
                        &::before{
                            content: '★';

                        }
                    }
                }
            }
        }
    }
}