@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
	max-width: 1920px;
	margin: 0 auto;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}


input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


@import 'blocks/nav';
@import 'blocks/header';
@import 'blocks/difference';
@import 'blocks/aboutme';
@import 'blocks/footer';
@import 'blocks/media';
@import 'blocks/definition';
@import 'blocks/answer';
@import 'blocks/situation';
@import 'blocks/price';
@import 'blocks/recall';

