@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&family=Ribeye&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

.title {
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 140%;
  color: #000000;
  text-align: center;
}

.subtitle {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}

header {
  padding: 35px 0 244px 0;
  background-image: url(../image/header-bg.png);
  background-repeat: no-repeat;
  max-height: 900px;
}

header .header__content {
  margin-top: 200px;
  max-width: 804px;
}

header .header__content_title {
  font-family: Gelasio;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  color: #FFFFFF;
}

header .header__content_descr {
  max-width: 400px;
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}

header .header__content_button {
  margin-top: 40px;
  width: 187px;
  height: 60px;
  border: none;
  background: #C9453B;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__content_button:hover {
  color: #C9453B;
  background: #FFFFFF;
  width: 193px;
  height: 65px;
  font-size: 21px;
  font-weight: 600;
}

.location {
  padding-top: 140px;
}

.location__items {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location__items_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  max-height: 500px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 30px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.location__items_item:nth-child(1):hover {
  -webkit-transform: translateX(355px) scale(1.2);
          transform: translateX(355px) scale(1.2);
  z-index: 1;
}

.location__items_item:nth-child(2):hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}

.location__items_item:nth-child(3):hover {
  -webkit-transform: translateX(-355px) scale(1.2);
          transform: translateX(-355px) scale(1.2);
  z-index: 1;
}

.location__items_item-title {
  margin-top: 30px;
  font-size: 24px;
  line-height: 150%;
}

.location__items_item-descr {
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__left_logo {
  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.06em;
  color: #FFf;
}

.navigation__center_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__center_links-link {
  margin: 0 25px;
  list-style-type: none;
}

.navigation__center_links-link a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation__center_links-link a:hover {
  font-size: 21px;
  color: red;
}

.navigation__right_button {
  width: 163px;
  height: 51px;
  border: none;
  background: #C9453B;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation__right_button:hover {
  color: #C9453B;
  background: #FFFFFF;
  width: 168px;
  height: 56px;
  font-size: 21px;
  font-weight: 600;
}

.navigation .hamburger {
  display: none;
}

.offers {
  padding-top: 140px;
  padding-left: 30px;
}

.offers__items {
  margin-top: 60px;
}

.offers__items_item {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 334px;
  max-width: 262px;
  margin: 0 30px;
  padding-bottom: 30px;
}

.offers__items_item-title {
  margin-top: 20px;
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.offers__items_item-blocks {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 190px;
}

.offers__items_item-blocks .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers__items_item-blocks .map img {
  margin-right: 10px;
}

.offers__items_item-blocks .map a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
}

.offers__items_item-blocks .rating {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
}

.offers__items_item-blocks .rating::before {
  content: '★';
  margin-right: 8px;
  width: 24px;
  height: 24px;
  color: #FFC700;
  border-radius: 0.5px;
}

.offers__items_item-descr {
  margin-top: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
}

.offers__items_item-price {
  margin-top: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}

.offers__items_item-price span {
  font-size: 16px;
  opacity: 0.6;
}

.slick-dots li {
  width: 100px;
  height: 5px;
  background: rgba(201, 69, 59, 0.1);
  border-radius: 10px;
  list-style-type: none;
  padding: 0;
}

li.slick-active {
  background: #C9453B;
  border-radius: 10px;
}

.slick-dots li button:before {
  display: none;
}

.blog {
  padding: 140px 0;
}

.blog__wrapper {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__left_items_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 554px;
  max-height: 645px;
  margin: 15px 15px 15px 0px;
}

.blog__left_items_item-image {
  -webkit-transition: 1s;
  transition: 1s;
  width: 554px;
  height: 397px;
}

.blog__left_items_item-image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}

.blog__left_items_item-image img {
  width: 100%;
}

.blog__left_items_item-title {
  margin-top: 30px;
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #000000;
}

.blog__left_items_item-descr {
  max-width: 470px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
  opacity: 0.6;
}

.blog__left_items_item-link {
  margin-top: 10px;
}

.blog__left_items_item-link a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog__left_items_item-link a:hover {
  color: #500808;
}

.blog__right_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__right_items_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0px 15px 15px;
  max-height: 200px;
}

.blog__right_items_item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
}

.blog__right_items_item-title {
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.blog__right_items_item-descr {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.6;
  color: #000000;
}

.blog__right_items_item-link {
  margin-top: 10px;
}

.blog__right_items_item-link a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog__right_items_item-link a:hover {
  color: #500808;
}

.blog__right_items_item-image {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  transition: 1s;
}

.blog__right_items_item-image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}

.blog__right_items_item-image img {
  max-width: 260px;
  max-height: 200px;
}

.footer {
  padding: 70px 0 80px 0;
  background: rgba(38, 148, 153, 0.04);
  max-height: 350px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #000000;
}

.footer__contacts_logo {
  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

.footer__contacts_title {
  margin-top: 40px;
  font-size: 16px;
}

.footer__contacts_link {
  margin-top: 10px;
  font-size: 16px;
}

.footer__contacts_social {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__navigation_links-link {
  list-style-type: none;
  margin-bottom: 20px;
}

.footer__navigation_links-link a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
}

.footer__rules_links-link {
  list-style-type: none;
  margin-bottom: 20px;
}

.footer__rules_links-link a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
}

.footer__subscribe_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
}

.footer__subscribe_block-input {
  margin-top: 42px;
  margin-right: 25px;
  padding: 10px;
  width: 195px;
  height: 44px;
  opacity: 0.1;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.footer__subscribe_block-button {
  width: 103px;
  height: 44px;
  background: #C9453B;
  border-radius: 5px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .location {
    padding-top: 140px;
  }
  .location__items {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .location__items_item {
    margin: 0 10px;
  }
  .location__items_item-img {
    width: 302px;
    height: 290px;
  }
  .location__items_item-img img {
    width: 100%;
  }
  .blog__left_items_item-image {
    max-width: 425px;
    max-height: 350px;
  }
  .blog__left_items_item-image img {
    width: 100%;
  }
  .blog__left_items_item-title {
    margin-top: 0;
  }
  .blog .blog__right_items_item-wrapper {
    padding: 15px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  .navigation__center_links {
    margin-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__center_links-link {
    margin: 0 10px;
  }
  .navigation__center_links-link a {
    font-size: 16px;
  }
  .navigation__center_links-link a:hover {
    font-size: 18px;
  }
  .navigation__right_button {
    width: 130px;
    height: 40px;
    font-size: 15px;
  }
  .navigation__right_button:hover {
    width: 145px;
    height: 43px;
    font-size: 17px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 370px;
  }
  .offers__items_item-blocks .map {
    margin-top: 5px;
  }
  .offers__items_item-blocks .map a {
    font-size: 16px;
  }
  .offers__items_item-image img {
    width: 100%;
  }
  .offers__items_item-title {
    font-size: 20px;
  }
  .offers__items_item-descr {
    font-size: 15px;
  }
  .offers__items_item-blocks .rating {
    font-size: 15px;
    margin-top: 5px;
  }
  header .header__content_title {
    font-size: 43px;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 17px;
  }
  .location {
    padding-top: 140px;
  }
  .location__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location__items_item {
    margin: 15px;
    width: 289px;
    padding: 0 15px 15px 15px;
  }
  .location__items_item:nth-child(1):hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .location__items_item:nth-child(2):hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .location__items_item:nth-child(3):hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .location__items_item-img {
    width: 289px;
    height: 285px;
  }
  .location__items_item-img img {
    width: 100%;
  }
  .location__items_item-title {
    font-size: 20px;
  }
  .location__items_item-descr {
    font-size: 15px;
  }
  .blog__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog__left_items_item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .blog__left_items_item-image {
    max-width: 300px;
    max-height: 235px;
  }
  .blog__left_items_item-image img {
    width: 100%;
  }
  .blog__left_items_item-title {
    margin-top: 0;
    font-size: 15px;
  }
  .blog__left_items_item-descr {
    font-size: 14px;
  }
  .blog__left_items_item-link a {
    font-size: 13px;
  }
  .blog__right_items_item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog__right_items_item-image img {
    max-width: 192px;
    max-height: 200px;
  }
  .blog__right_items_item-title {
    font-size: 15px;
  }
  .blog__right_items_item-descr {
    font-size: 14px;
  }
  .blog__right_items_item-link {
    font-size: 13px;
  }
  .footer__contacts {
    margin-right: 60px;
  }
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__navigation {
    display: none;
  }
  .footer__rules_links-link a {
    font-size: 13px;
  }
  .footer__contacts_title {
    font-size: 13px;
  }
  .footer__contacts_link {
    font-size: 13px;
  }
  .footer__subscribe_title {
    font-size: 19px;
    margin-top: 20px;
  }
  .footer__subscribe_block-input {
    margin-top: 20px;
  }
  .navigation__center_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 345px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    background: #fff;
    top: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    left: 0;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 1;
  }
  .navigation__center_links_active {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .navigation__center_links-link a {
    text-align: center;
    color: #000;
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 14px;
  }
  .navigation__center_links-link a:hover {
    font-size: 20px;
    color: #5f0f0f;
  }
  .navigation__right {
    display: none;
  }
  .navigation .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 55px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 35px;
    height: 20px;
  }
  .navigation .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 3px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .navigation .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
  }
  .navigation .hamburger_active span:nth-child(2) {
    display: none;
  }
  .navigation .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}
/*# sourceMappingURL=style.css.map */